<h4>Template-driven Form Example </h4>
<div class="card-body">
  <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">

    <div class="form-group">
      <label>First Name:</label>
      <input class="form-control" type="text" [(ngModel)]="firstName" name="firstName">
    </div>
    <div class="form-group">
      <label>Last Name:</label>
      <input class="form-control" type="text"  [(ngModel)]="lastName" name="lastName" >
    </div>

    <input type = "submit" value = "Submit">
  </form>
</div>